body {
    min-width: 60%;
    width: 100%;
    margin: auto;
}
.container {
    background-color: lightblue;
    padding: 2%
}
.customer-container {
    background-color: rgb(185, 45, 126);
    padding: 2%
}
.audio_view{
    background: pink;
    padding: 2%;
}
.cd_view{
    background: purple;
    padding: 2%;
}

h1 {
    color: navy;
}
#task {
    padding: 1% 2%;
    width: 80px;
    border-color: navy;
}
#submit {
    padding: 1% 2%;
    border-color: navy;
    background-color: navy;
    color: white;
}